<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/contact.css">
    <link rel="stylesheet" href="../styles/accueil.css">
    <title>Garage 4 tyres</title>
</head>

<body>
    <!---------------------------------------------------------------------HEADER-----------------------------------------------------------------------------------------> 
    <header>
        <h1>Garage "4 tyres"</h1>
    </header>

    <aside>
        <nav>
            <ul>
                <li><a href="../accueil.html">Accueil</a></li>
                <li><a href="../About.html">Nos services</a></li>
                <li><a href="../rdv.php">Prendre RDV</a></li>
                <li><a href="../index.html">Espace client</a></li>
                <li><a href="../testcontact.php">Contact</a></li>
            </ul>
        </nav>
    </aside>
    <h3>Se connecter</h3>
    <form id="loginForm" method="POST">
        <p>Votre nom</p>
        <input type="text" name="name">
        <br>
        <p>Votre mot de passe</p>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Se connecter">
    </form>
    <form action="./register.html">
        <p>Si vous n'avez pas de compte...</p>
        <input type="submit" value="Inscrivez vous">
    </form>
    <!---------------------------------------------------------------------FOOTER------------------------------------------------------------------------------------------> 
    <footer>
        <ul>
            <li><a href="testcontact.php">Contact</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Politique de Confidentalité</a></li>
        </ul>
    </footer>
    <script type="text/javascript" src="../views/js/formLogin.js"></script>
</body>

</html>